$w1:100%;
$w2:70%;
$w3:15%;
$w4:100px;
$w5:800px;
$w6:500px;
$w7:300px;
$w8:600px;
$w9:180px;
$w10:50%;
$w11:460px;
$w12:900px;
$w13: 55%;
$w14:200px;
$w15:150px;

$h1:100vh;
$h2:750px;
$h3:100px;
$h4:150px;
$h5:40px;
$h6:500px;
$h7:200px;
$h8:80px;
$h9:50px;
$h10:52px;
$h11:400px;
$h12:300px;
$h13:60px;

$m1:0;
$m2:5;
$p1:0;
$m-t1:90px;
$m-t2:100px;
$m-t3:-60px;
$m-t4:-25px;
$m-t5:-35px;
$m-t6:70px;
$m-t7:5px;
$m-t8:20px;
$m-l1:40px;
$m-l2:auto;
$m-r1:-90px;
$m-r2:60px;
$m-r3:auto;
$m-r4:5px;

$b-s1:200px;

$fs1:15px;
$fs2:16px;
$fs3:25px;
$fs4:20px;
$fs5:18px;
$fs6:60px;
$fs7:30px;
$fs8:35px;


$br1:10px;

$ti1:10px;
$ti2:15px;

$bs1:500px;